---
layout: page
title: Projects
---
<section class="list">
    <div class="project-grid">
        {% for post in site.posts %}
            {% if post.games %}
                <a href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}" class="item item--full" style="background: url('{{ post.image }}'); background-size: cover; background-position: center;">
                    <div class="item__details">
                        {{ post.title }}
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</section>


<!--
<div class="item {% if post.star %}star{% endif %}">
        <center><h3 class="title"></h3></center>

</div>
-->
