.page
    margin-top: 125px

    > h1
        text-align: center
        margin-bottom: 6rem

.about
    img
        width: 50%
        margin: 0 auto
        display: block
        box-shadow: -2px 2px 10px 0 rgba(68, 68, 68, 0.4)
